/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.mt-1 {
  margin-top: 30px; }

.mt-2 {
  margin-top: 60px; }

.mt-3 {
  margin-top: 90px; }

.mt-4 {
  margin-top: 120px; }

.mt-5 {
  margin-top: 180px; }

.text-w {
  color: white; }

.text-center {
  text-align: center; }

.headline-1 {
  font-size: 80px;
  font-weight: bold; }

.headline-2 {
  font-size: 60px;
  font-weight: bold; }

.headline-3 {
  font-size: 40px;
  font-weight: bold; }

.headline-4 {
  font-size: 20px;
  font-weight: bold; }

.btn {
  border: none;
  border-radius: 2px;
  padding: 15px 60px;
  max-width: 400px;
  outline: none;
  cursor: pointer; }

.link-item {
  font-size: 10px;
  font-weight: 100; }

.sub-text {
  font-size: 24px;
  color: #909099; }

.nav-links {
  color: #c4131e;
  text-decoration: none;
  font-size: 12px;
  padding: 20px 15px; }
  .nav-links:hover {
    color: black; }

.input-group {
  padding-top: 10px;
  padding-bottom: 10px; }

input, textarea, select {
  width: 100%;
  color: #c4131e;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 12px;
  outline: none; }

input {
  height: 40px; }

#drop-down {
  position: relative; }
  #drop-down:hover:after {
    content: '';
    width: 20px;
    margin-top: 5px;
    height: 2px;
    background: #c4131e;
    position: absolute;
    right: 35%; }
  #drop-down:hover .sub-nav {
    display: block; }

.sub-nav {
  margin-top: 20px;
  display: none;
  position: absolute;
  left: -100%;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75); }
  .sub-nav .nav-items {
    padding: 15px 0px;
    width: 150px;
    text-align: center; }
    .sub-nav .nav-items:hover {
      background: #c4131e; }
      .sub-nav .nav-items:hover a {
        color: white; }

#drop-down-second {
  position: relative; }
  #drop-down-second:hover .sub-nav-second {
    display: block; }

.sub-nav-second {
  margin-top: 20px;
  display: none;
  position: absolute;
  left: 100%;
  top: -40%;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75); }
  .sub-nav-second .nav-links {
    color: #c4131e !important; }
  .sub-nav-second .nav-items {
    padding: 15px 0px;
    width: 150px;
    text-align: center; }
    .sub-nav-second .nav-items:hover {
      background: #c4131e; }
      .sub-nav-second .nav-items:hover a {
        color: white !important; }

.navbar-new {
  transition: all 0.3s ease-in-out;
  display: block !important;
  position: absolute;
  top: 10%;
  width: 50%;
  right: 0%;
  text-align: center;
  background: #c4131e; }
  .navbar-new .nav-links {
    color: white; }
  .navbar-new .nav-items {
    padding: 1rem; }
    .navbar-new .nav-items:hover {
      background: white; }
      .navbar-new .nav-items:hover a {
        color: #c4131e !important; }

@media screen and (max-width: 900px) {
  .nav-brand {
    padding-left: 10px; }
  .banner {
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px !important; }
    .banner h1 {
      padding-top: 100px !important;
      font-family: playfor display;
      font-size: 80px !important; }
  .about .main {
    grid-template-columns: 1fr !important; }
    .about .main img {
      width: 50% !important; }
  .menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr !important; } }

@media screen and (max-width: 500px) {
  .banner {
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px !important; }
    .banner h1 {
      padding-top: 60px !important;
      font-family: playfor display;
      font-size: 60px !important; }
  .about .main {
    grid-template-columns: 1fr !important; }
    .about .main img {
      width: 100% !important; }
  nav .container {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container .menu-bar {
      display: block !important;
      padding-right: 10px; }
    nav .container .navbar {
      display: none !important; }
  .menu-list {
    display: grid;
    grid-template-columns: 1fr !important; }
  .event {
    display: grid;
    grid-template-columns: 1fr !important;
    align-items: center; }
    .event img {
      margin-top: 20px;
      width: 100%;
      border-radius: 5px; }
  footer .main {
    padding: 25px 0px;
    display: block !important;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    footer .main .navbar {
      text-align: center;
      display: block !important;
      margin-bottom: 20px; }
    footer .main .icons i {
      font-size: 32px;
      margin-left: 15px;
      color: #c4131e; }
  #drop-down {
    position: relative; }
    #drop-down:hover:after {
      content: none; }
    #drop-down:hover .sub-nav {
      display: block; }
  .sub-nav {
    margin-top: 20px;
    display: none;
    position: absolute;
    left: 0%;
    background: white;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75); }
    .sub-nav .nav-items {
      padding: 15px 0px;
      width: 150px;
      text-align: center; }
      .sub-nav .nav-items:hover {
        background: #c4131e; }
        .sub-nav .nav-items:hover a {
          color: white !important; }
  .sub-nav-second {
    margin-top: 20px;
    display: none;
    position: absolute;
    left: -100%;
    top: -40%;
    background: white;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75); }
    .sub-nav-second .nav-links {
      color: #c4131e !important; }
    .sub-nav-second .nav-items {
      padding: 15px 0px;
      width: 150px;
      text-align: center; }
      .sub-nav-second .nav-items:hover {
        background: #c4131e; }
        .sub-nav-second .nav-items:hover a {
          color: white !important; } }

body {
  font-family: 'asap'; }

nav .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .container .menu-bar {
    display: none; }
  nav .container .navbar {
    transition: all 0.3s ease-in-out;
    display: flex; }

.banner {
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; }
  .banner h1 {
    padding-top: 200px;
    font-family: playfor display; }
  .banner p {
    margin-top: 14px;
    line-height: 30px; }
  .banner .btn {
    background: #c4131e;
    display: block;
    color: white;
    font-size: 14px;
    margin-top: 14px;
    cursor: pointer;
    outline: none;
    border-radius: 2px; }

.about .main {
  display: grid;
  grid-template-columns: 3fr 7fr; }
  .about .main .about-text {
    padding: 1rem; }
    .about .main .about-text p {
      line-height: 25px;
      color: #909099; }
  .about .main img {
    width: 100%;
    filter: grayscale(100);
    border-radius: 5px; }

.menu button.btn {
  display: block;
  margin: 20px auto;
  background: #c4131e;
  color: white; }

.menu .menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .menu .menu-list .menu-item {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center; }
    .menu .menu-list .menu-item .headline-4 {
      color: #c4131e; }
    .menu .menu-list .menu-item img {
      width: 80%;
      border-radius: 50%; }
    .menu .menu-list .menu-item p {
      margin-top: 5px;
      font-size: 12px;
      color: #909099; }

.event {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: center; }
  .event img {
    width: 100%;
    border-radius: 5px; }
  .event .event-content {
    width: 90%; }
    .event .event-content .headline-4 {
      color: #c4131e; }
    .event .event-content p {
      line-height: 25px;
      color: #909099;
      font-size: 14px; }

.contact {
  background: #c4131e;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 6rem; }
  .contact form {
    padding-top: 30px;
    max-width: 400px;
    margin: auto; }
    .contact form .btn {
      background: white;
      color: #c4131e;
      font-weight: 600;
      font-size: 16px;
      float: right; }

footer .main {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .main .navbar {
    display: flex; }
  footer .main .icons i {
    font-size: 32px;
    margin-left: 15px;
    color: #c4131e; }
